<!DOCTYPE html>
<html>
<head>
    <title>Soma.ai</title>
    <style>
        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9DVXE7TVNE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-9DVXE7TVNE');
    </script>
</head>
<body>
    <h1>Welcome to Soma.ai!</h1>
    <p>We understand that each individual holds a unique value in this world. Sometimes, recognizing and articulating that value can be challenging. But that’s where Soma comes in! Let's go!</p>
    <form method="POST" onsubmit="document.getElementById('loader').style.display='block'">
        <input type="hidden" name="question_index" value="{{ question_index }}">
        <label for="user_input">{{ question }}</label><br>
        <input type="text" id="user_input" name="user_input" value=""><br>
        <input type="submit" value="Submit">
    </form>
    <div id="loader" class="loader" style="display: none;"></div>
    <p>Your brand book so far:</p>
    <p>{{ process }}</p>
</body>
</html>
